{% extends 'base.html'%}
{% block title %}Promotor{% endblock %}
{% block main%}
<div class="row my-5">
	<div class="col-8">
		<div>
			<h1>Promotor</h1>
		</div>
		<ul class="list-group">
			<a class="badge-light " href="{% url 'page-about' %}">
			  <li class="list-group-item rounded border border-info m-1">
			  	<img src="http://localhost/Atividades/staticfiles/imgs/img1.png" class="img-thumbnail" width="100px"> 
			  	Cras justo odio
			  </li>
			</a>
			<a class="badge-light" href="{% url 'page-about' %}">
			  <li class="list-group-item rounded border border-info m-1">
			  	<img src="http://localhost/Atividades/staticfiles/imgs/img1.png" class="img-thumbnail" width="100px"> Dapibus ac facilisis in
			  </li>
		  	</a>
		  	<a class="badge-light" href="{% url 'page-about' %}">
			  <li class="list-group-item rounded border border-info m-1">
			  	<img src="http://localhost/Atividades/staticfiles/imgs/img1.png" class="img-thumbnail" width="100px"> Morbi leo risus
			  </li>
			</a>
			<a class="badge-light" href="{% url 'page-about' %}">
			  <li class="list-group-item rounded border border-info m-1">
			  	<img src="http://localhost/Atividades/staticfiles/imgs/img1.png" class="img-thumbnail" width="100px"> Porta ac consectetur ac
			  </li>
		  	</a>
		  	<a class="badge-light" href="{% url 'page-about' %}">
			  <li class="list-group-item rounded border border-info m-1">
			  	<img src="http://localhost/Atividades/staticfiles/imgs/img1.png" class="img-thumbnail" width="100px"> Vestibulum at eros
			  </li>
		  </a>
		</ul>
	</div>
	<div class="col border d-promoter border-info pl-5">
		<div class="row text-center mt-4"> 
  			<i class="fas fa-user-circle mr-2" style="font-size: 40px;"></i>
  			<h2>KAIO PONTES</h2>
	  	</div>
	  	<div class=" mt-4"> 
  			<h3>ENDEREÇO</h3>
  			<p>Rua mario, 154, Centro Nova Cruz</p>
	  	</div>
	  	<div class="mt-4"> 
  			<h3>Email</h3>
  			<p>naosei@gmail.com</p>
  			<p>naosei@hotmail.com</p>
  			<p>naosei@outlook.com</p>
	  	</div>
	  	<div class=" mt-4"> 
  			<h3>Telefone</h3>
  			<p>(XX)XXXXX-XXXX</p>
  			<p>(YY)YYYYY-YYYY</p>
  			<p>(ZZ)ZZZZZ_ZZZZ</p>
	  	</div>
	</div>
</div>
{% endblock %}