{% extends 'base.html'%}
{% load static %}
{% block title %}About{% endblock %}
{% block main%}
<div class="row mt-4">
	<div class="col ">
		<img src="{% static '/imgs/img1.png' %}" class="img-thumbnail">
	</div>
	<div class="col-4">
		<h5 class="font-weight-bold">Nov</h5>
		<h5 class="font-weight-bold">30</h5>
		<h4 class="font-weight-bold">GAROTA VIP</h4>
		<a class="text-dark" href="{% url 'page-promoter' %}"><h4 class="font-weight-bold">KAIO PONTES</h4></a>
		<div class="footer text-center" style="width: 90%">
			{% if usuario.username %}
				<button class="btn btn-color btn-round solicitar">SOLICITAR</button>
			{% else %}
				<a class="btn btn-color btn-round solicitar" href="{% url 'create_aluno'%}">SOLICITAR</a>
			{% endif %}
		</div>
	</div>
</div>
<div class="row mt-5">
	<div class="col">
		<h5>DESCRIÇAO:</h5>
		xxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxx xxxxxx xxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx xxxxxxxx xxxxxxxxxxx xxxxxxx xxxxxxxxxxx
	</div>
	<div class="col-4 ">
		<h5 class="font-weight-bold">DATA E HORA</h5>
		<p>XXXXXXXXXX XXXXXXX XXXXX XXXXXXXX XXXXXXXXXX XXXXXXXXXXX XXXXXXXX XXXXXX</p>
		<h4 class="font-weight-bold">Localizaçao</h4>
		<p>xxxxxx xxxxxxxxxx xxxxxxxxxx xxxx  xxx x x x xx x x x  xxxxxxxxx  xxxxx</p>
	</div>
</div>
{% endblock %}