{% extends 'body.html'%}
{% block title %}Promotor{% endblock %}
{% block main%}
<div class="row mt-5">
	<div class="col-8">
		<div>
			<h1>Promotor</h1>
		</div>
		<ul class="list-group">
			<a class="badge-light" href="{% url 'page-about' %}">
			  <li class="list-group-item rounded border border-info m-1">
			  	<img src="http://localhost/Atividades/staticfiles/imgs/img1.png" class="img-thumbnail" width="100px"> 
			  	Cras justo odio
			  </li>
			</a>
			<a class="badge-light" href="{% url 'page-about' %}">
			  <li class="list-group-item rounded border border-info m-1">
			  	<img src="http://localhost/Atividades/staticfiles/imgs/img1.png" class="img-thumbnail" width="100px"> Dapibus ac facilisis in
			  </li>
		  	</a>
		  	<a class="badge-light" href="{% url 'page-about' %}">
			  <li class="list-group-item rounded border border-info m-1">
			  	<img src="http://localhost/Atividades/staticfiles/imgs/img1.png" class="img-thumbnail" width="100px"> Morbi leo risus
			  </li>
			</a>
			<a class="badge-light" href="{% url 'page-about' %}">
			  <li class="list-group-item rounded border border-info m-1">
			  	<img src="http://localhost/Atividades/staticfiles/imgs/img1.png" class="img-thumbnail" width="100px"> Porta ac consectetur ac
			  </li>
		  	</a>
		  	<a class="badge-light" href="{% url 'page-about' %}">
			  <li class="list-group-item rounded border border-info m-1">
			  	<img src="http://localhost/Atividades/staticfiles/imgs/img1.png" class="img-thumbnail" width="100px"> Vestibulum at eros
			  </li>
		  </a>
		</ul>
	</div>
	<div class="col bg-danger text-center">
		<div class="row "> 	
	  		<i class="fas fa-user-circle text-light mr-2" style="font-size: 40px;"></i>
	  		<h3>Promotor</h3>	  	
	  	</div>
	</div>
</div>
{% endblock %}