

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>{{nome}} bem-vindo ao site é E-Vento.</p>
    <p>Seu email com endereço {{email}} foi cadastro no Site E-vento.</p>
    <p>Sua Senha provisoria é <b>ifrn2018</b></p>
    <p>Por favor entre na sua conta e termine de preencher seus dados.</p>
    <!--<p>Para terminar o seu cadastro, clique nesse link:<a href="http://127.0.0.1:8000/clientes/pre?email={{email}}&token={{token}}">Finalizar Cadastro</a></p>-->
<p>Para terminar o seu cadastro, clique nesse link:<a href="http://127.0.0.1:8000/clientes/ativar/{{token}}">Finalizar Cadastro</a></p>
<p>meu ID:{{id}}</p>
</body>
</html>